* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(132, 14, 201);
    border-radius: 30px;
}

body {
    background: #000;
    color: white;
}


/* Seção Topo */
header {
    border-bottom: 2px solid #212529;
    height: 100px;
}

.navbar {
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar a {
    border-radius: 15px;
    color: #fbfbfb;
    margin: 0px 30px;
}

.navbar a:hover {
    color: rgb(132, 14, 201);
}

.navbar a:focus {
    color: #fbfbfb;
}

.navbar a span {
    color: rgb(132, 14, 201)
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}

.navbar .logo:hover {
    border: none;
    color: #fbfbfb;
}

/* Fim Seção Topo */

/* Seção Apresentação */

.apresentacao-text {
    padding: 40px 0px;
}

.apresentacao-text h1 span{
    color: rgb(132, 14, 201);
    letter-spacing: 3px;
}

.apresentacao-text p {
    font-size: 17px;
    font-weight: 300;
}

.apresentacao-text .preco {
    font-weight: 400;
    padding: 10px 0px;
}

.apresentacao-text a {
    color: #fbfbfb;
    border: 1px solid rgb(132, 14, 201);
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 20px;
    transition: 1.5s;
}

.apresentacao-text a:hover {
    background-color: rgb(132, 14, 201);
    color: #fbfbfb;
}

.apresentacao-img img {
    height: 250px;
}
/* Fim Seção Apresentação */

/* Seção Card */
.card-apresentacao {
    padding: 50px 0px;
}

.card-contain {
    margin: 20px 0px !important;
}

.card-contain img {
    background-color: #000;
    border: 1px solid rgba(132, 14, 201, 0.486);
    border-radius: 15px;
    box-shadow: -1px 1px 1px 3px rgb(168, 19, 253);
    height: 200px;
    transition: 1.5s;
}

.card-contain img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
/* Fim Seção Card */

/* Seção Conteudo */

.conteudo p {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 20px;
}

.conteudo span {
    color: rgb(168, 19, 253);
    font-weight: normal;
    margin-left: 10px;
    transition: 1.5s;
}

.conteudo span:hover {
    border-bottom: 1px solid rgb(168, 19, 253);
}

.conteudo span:hover {
    cursor: pointer;
}

.conteudo a {
    background-color: rgb(132, 14, 201);
    border-radius: 15px;
    color: #fbfbfb;
    padding: 10px 20px;
    text-decoration: none;
}

.conteudo img {
    height: 400px;
}

/* Seção footer */
footer h3 {
    color: rgb(168, 19, 253);
    font-weight: normal;
}

footer p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
}

footer a {
    color: rgb(132, 14, 201);
    text-decoration: none;
}

footer a:hover {
    color: rgb(168, 19, 253);
    cursor: pointer;
}
/* Fim Seção footer */

@media screen and (max-width: 500px) {
    .apresentacao-img img {
        height: 160px;
    }

    .conteudo img {
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .apresentacao-text {
        padding: 0px 0px;
    }

    header {
        border-bottom: none;
    }
}